<div class="bg-white col-6">
  <h3>More than 100 Spots</h3>
    <% @spots.each do |spot| %>
    <div class="card-show border-top pt-3 bg-white">
      <div class="img-card">
        <img class ="rounded" style= "width: 300px", src="https://images.unsplash.com/photo-1566021988761-550ac4bd5c60?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80" alt="">
      </div>
      <div class="card-body">
        <div class="card-tag d-flex justify-content-between">
          <p class="desc-card mb-1">Private Spot</p>
          <div>
            <p class="desc-card" style="color:#222222"><i class="fas fa-star" style="color:#ff385c"></i> 4.60 <span style="color:#717171">(166)</span></p>
          </div>
        </div>
        <h4 class="title-card"> <%= link_to spot.name, spot_path(spot) %></h4>
        <p class="desc-card">One of the most beautiful marina's in Portugal</p>
      </div>
  </div>
  <% end %>
</div>

