<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1511684633137-6b5fc88b3dbc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80);">
  <div class="container">
    <div class="">
    <%= link_to 'See Picture', %>
    <%= link_to 'Share', %>
    <%= link_to 'Save', %>
    </div>
  </div>
</div>

<h2>Title of the location</h2>
<p>Description lorem</p>
