<div class="container">
    <div class="">
    <%= link_to 'See Picture', %>
    <%= link_to 'Share', %>
    <%= link_to 'Save', %>
    </div>
  </div>
</div>

<h2>Title of the location</h2>
<p>Description lorem</p>
