// Specific CSS for your home-page

body, html {
  height: 100%;
}

.home_video {
 width: 100vw;
 height: 100vh;
 position: absolute;
 object-fit: cover;
 top: 0;
 z-index: -2;
}
.home-video-wrapper {
height: 100vh;
display: flex;
position:relative;
}

h1.home {
  color: white;
  font-size: 40px;
  font-weight: lighter;
  text: center;
}

.input-grp
{
    padding: 0 15px;
}

.input-grp label
{
  margin-bottom: 5px;
  margin-top: 10px;
  font-size: 12px;
  color: black;
}

.form-wrapper
{
  position:absolute;
  left: 15px;
  bottom: 100px;
}

.btn-grp
{
  display: block;
  margin-top: 20px;

}

.btn-100
{
  max-width: 100% !important;
  color: white;
}

.btn-100:hover {
  color:white;
}

.cards {
  display:flex;
  margin: 50px auto 25px;
  background-color: $red;
}

.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.1s);
  border-radius: 4px;
}

.card-trip img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip h3 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}
.card-trip h4 {
  font-size: 16px;
}
.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.form-font {
  color: $gray;
  font-size: 13px;
}

.img-spot {
  height: 200px;
  width: 300px;
  border-radius: 3%;
}

.img-landing {
  height: 200px;
  max-width: 100%;
}
