// Specific CSS for your home-page

body, html {
  height: 100%;
}

.bg {
  background-image: url("https://images.unsplash.com/photo-1454463795098-bbb646bad1d8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3298&q=80");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h3  {
  font-family: 'Roboto';
  color: #484848;
}


.cards {
  display:flex;
  margin: 50px auto 25px;
}

.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.1s);
  border-radius: 4px;
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}


