<div class="container">
  <h1 class="pt-4">My Bookings</h1>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Spot</th>
        <th scope="col">From</th>
        <th scope="col">To</th>
      </tr>
    </thead>
    <tbody>
    <% @bookings.each do |booking| %>
      <tr>
        <td><%= Spot.find(booking.spot_id) %></td>
        <td><%= booking.start_date %></td>
        <td><%= booking.end_date %></td>
      </tr>
    <% end  %>
    </tbody>
  </table>
</div>
