<div class= "container">

  <div class="row">
    <% @spots.each do |spot| %>
      <div class="col-4">
        <div class="card m-2">
          <img class=" card-img-top img-fluid", style="height:200px" src= <%= spot.photo_url %>>
          <div class="card-body">
              <h5 class="card-title"><%= spot.marina_name%></h5>
              <p class="card-text">
                <i class="fas fa-euro-sign ml-2"></i> <%= spot.price_per_night %>
              </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

















