<!-- <div class="bg pt-4"> -->
 <!--  <div class="col-3 card offset-2 align-self-center"> -->
    <!-- <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1454463795098-bbb646bad1d8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3298&q=80);"> -->
   <!--  <div class="container">
    <h1>Book unique marinas!</h1>
    <!-- <p></p> -->
    <!-- <a class="btn btn-spot" href="#">Book now</a> -->
    <!-- </div> -->
    <!-- </div> -->
 <!--  </div>
</div> -->

  <div class="home-video-wrapper">
  <%= video_tag "marina.mp4", autoplay: :autoplay, loop: :loop, mute: :mute, class: "home_video" %>



  <div class="form-wrapper">
  <div class="col-12">
    <div class="card bg-white p-4">
      <h1> Book unique marinas!</h1>
    <form>
      <div class="row">
    <div class="col-12 input-grp">
      <label>City or Marina</label>
      <input type="city or marina" class="form-control" placeholder="Anywhere">
    </div>
  </div>

   <div class="row">
    <div class="col-6 input-grp">
      <label>Check In</label>
      <input type="date" class="form-control select-date" placeholder="Date">
    </div>

    <div class="col-6 input-grp">
      <label>Check Out</label>
      <input type="date" class="form-control select-date" placeholder="Date">
    </div>
  </div>

   <div class="row">
     <div class="col-12 input-grp">
      <label>Boat size(meters)</label>
      <input type="number" class="form-control" value="1">
    </div>
  </div>

    <div class="btn-grp">
    <button type="button" class="btn btn-login btn-100">Search</button>
    </div>


    </form>
  </div>
  </div>
</div>
</div>

<div class="p-5">
  <h2>Best Marinas around the world </h2>

<div class="row no-gutters">

<div class="cards">

<div  class="col-4">
<div class="card-trip">
  <img src="https://images.pexels.com/photos/296242/pexels-photo-296242.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" />
  <div class="card-trip-infos">
    <div>
      <h3>Aveiro Marina</h3>
      <p>Portugal</p>
    </div>
    <h4 class="card-trip-pricing">€200,00</h4>
  </div>
</div>
</div>

<div  class="col-4">

<div class="card-trip">
  <img src="https://images.pexels.com/photos/1717301/pexels-photo-1717301.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" />
  <div class="card-trip-infos">
    <div>
      <h3>Dubai Marina</h3>
      <p>United Arab Emirates</p>
    </div>
    <h4 class="card-trip-pricing">€3.000</h4>
  </div>
</div>


</div>
<div  class="col-4">
<div class="card-trip">
  <img src="https://images.pexels.com/photos/3586/port-yachts-monaco-luxury.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" />
  <div class="card-trip-infos">
    <div>
      <h3>Cap D'ail Marina</h3>
      <p>Monaco</p>
    </div>
    <h4 class="card-trip-pricing">€500,00</h4>
  </div>
</div>
</div>

</div>

<div class="row no-gutters">



<div class="cards">
<div  class="col-4">
<div class="card-trip">
  <img src="https://images.pexels.com/photos/3019893/pexels-photo-3019893.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" />
  <div class="card-trip-infos">
    <div>
      <h3>Kotor Marina</h3>
      <p>Montenegro</p>
    </div>
    <h4 class="card-trip-pricing">€50,00</h4>
  </div>
</div>
</div>

<div  class="col-4">

<div class="card-trip">
  <img src="https://images.pexels.com/photos/2103903/pexels-photo-2103903.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" />
  <div class="card-trip-infos">
    <div>
      <h3>Genoa Marina</h3>
      <p>Italia</p>
    </div>
    <h4 class="card-trip-pricing">€1.000</h4>
  </div>
</div>


</div>
<div  class="col-4">
<div class="card-trip">
  <img src="https://images.pexels.com/photos/416024/pexels-photo-416024.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" />
  <div class="card-trip-infos">
    <div>
      <h3>Copenhagen Marina</h3>
      <p>Denmark</p>
    </div>
    <h4 class="card-trip-pricing">€1.500</h4>
  </div>
</div>
</div>

</div>

</div>


<div class="row no-gutters">



<div class="cards">
<div  class="col-4">
<div class="card-trip">
  <img src="https://images.pexels.com/photos/2157685/pexels-photo-2157685.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260 " />
  <div class="card-trip-infos">
    <div>
      <h3>Miami Marina</h3>
      <p>United States</p>
    </div>
    <h4 class="card-trip-pricing">€900,00</h4>
  </div>
</div>
</div>

<div  class="col-4">

<div class="card-trip">
  <img src="https://images.pexels.com/photos/2767815/pexels-photo-2767815.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" />
  <div class="card-trip-infos">
    <div>
      <h3>Hvar Marina</h3>
      <p>Croatia</p>
    </div>
    <h4 class="card-trip-pricing">€3.000</h4>
  </div>
</div>


</div>
<div  class="col-4">
<div class="card-trip">
  <img src="https://images.pexels.com/photos/752882/pexels-photo-752882.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" />
  <div class="card-trip-infos">
    <div>
      <h3>Dubrovnik Marina</h3>
      <p>Croatia</p>
    </div>
    <h4 class="card-trip-pricing">€500,00</h4>
  </div>
</div>
</div>

</div>

</div>



</div>







