
<div class="home-video-wrapper">
  <%= video_tag "marina.mp4", autoplay: :autoplay, loop: :loop, mute: :mute, class: "home_video" %>
  <div class="col-4 offset 2" style="left: 100px; ">
    <div class="form-wrapper">
      <div class="card bg-white p-4 form-font" style= "bottom: 150px;">
        <h2> Book unique marinas!</h2>
        <form>
          <label>WHERE</label>
          <input type="city or marina" class="form-control" placeholder="Anywhere">
          <div class="d-flex column mt-2">
            <div>
              <label>CHECK-IN</label>
              <input type="city or marina" class="form-control" placeholder="DD.MM.YYYY">
            </div>
            <div>
              <label>CHECK-OUT</label>
              <input type="city or marina" class="form-control" placeholder="DD.MM.YYYY">
            </div>
          </div>
          <label class="mt-2">BOAT-SIZE</label>
          <input type="city or marina" class="form-control" placeholder="10m">
          <%= link_to "Search", spots_path,  class:"btn btn-login mt-2 text-white" %>
        </form>
      </div>
    </div>
  </div>
</div>










    </form>
  </div>
  </div>
</div>
</div>


<div class="bg-white">
  <h3>Best Marinas around the world</h3>
  <%= render "shared/home_card" %>
</div>

























