.bg-white {
  background-color: white;
  height:100vh !important;
}

.card-show {
  justify-content: space-between;
  display: flex;
  padding-top: 4px;
  padding-bottom: 24px;
  position: relative
}

.img-card {
  display: block;
  flex-grow: 0;
  flex-shrink: 0 !important;
  width: 300px !important;
  height: 200px !important;
}

.text-card {
  display: flex !important;
  flex-direction: column !important;
  flex-grow: 1 !important;
  height: 200px !important;
  margin-left: 16px !important;
}

.title-card{
  font-weight: 400;
  font-size: 18px;
  max-height: 24px;
  line-height: 24px;
  color: rgb(34, 34, 34);
}

.desc-card{
  color: rgb(113, 113, 113);
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 18px !important;
  max-height: 18px !important;
}
