/* PROFILE SECTION */
body {
  background-color: white;
}
.container-profile {
  display: flex;
  justify-content: space-around;
  padding-top: 80px;
  padding-bottom: 150px;
  border-top: 1px solid $light-gray;
  border-bottom: 1px solid $light-gray;
  margin: 80px;
}
.profile-info {
  border: 1px solid $light-gray;
  padding: 50px;
}
.profile-title {
  width: 600px;
  background-image: url()
}
/* EDIT SECTION*/
.container-edit-profil {
  padding: 20px;
  width: 400px;
  margin: 10px auto;
  border: 1px solid $light-gray;
}
.form-actions {
  background-color: $red;
  text-align: center;
  border-radius: 4px;
  text-decoration: none;
}
.form-actions:hover {
  background-color: #E65358;
}
.btn {
  color: white !important;
}

/* CANCEL SECTION */
.container-cancel {
  display: flex;
  justify-content: space-around;
  padding-top: 60px;
}

