.btn-login {
  background-color: #ff5b60;
  display: block;
  color: white !important;
  text-align: center;
  border-radius: 4px;
  text-decoration: none;
  padding: 0px;
}

.btn-login > input {
  color:white;
  padding: 0;
}

.login-notes {
  padding-top: 10px;
  text-align: center;
  font-size: 14px;
}

.login-notes > a {
  color: #018489;
}

.form-check > label {
  color: #484848;
}

.bg-image {
  background-image: url('https://images.unsplash.com/photo-1564878676740-aab3f9e13bb7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2604&q=80');
  height: 100vh;
}
